<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" autocomplete="off" checked> every 2 weeks
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" autocomplete="off"> per month
  </label>
</div>
