:root {
  --dark-green: #206a5d;
  --lime-green: #81b214;
  --pastel-green: #bfdcae;
  --off-white: #f1f1e8;
}

html, body{
  background-color: var(--off-white);
  font-family: 'Roboto Slab', serif;
  height: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
  color: var(--lime-green);
}

.dark-green-text {
  color: var(--dark-green);
}

.dark-green-bg {
  background-color: var(--dark-green);
  color: white;
}

.logo-icon {
  font-size: 3rem;
}

.col-form-label {
  text-align: right;
}

.loans {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  background-color: var(--off-white);
  margin: 1% auto 3% auto;
}

.left-col {
  border-right-style: solid;
  border-color: white;
  border-width: thin;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%
}
